$orange1: #f5a623;
$orange2: #ffd275;
$orange3: #fff1d4;

$black: #333;
$white: #fff;
$gray1: #888;
$gray2: #b7b7b7;
$gray3: #d8d8d8;
$gray4: #f1f1f1;

$color-primary: $orange1;
$color-secondary: $orange3;

$background-color: $orange2;

$text-color: $black;
$text-color-invert: $white;
$text-color-gray: $gray1;
$text-color-pale: $gray2;

$font-family: Meiryo, sans-serif;

$border-color: $gray4;
$border-color-strong: $gray3;
$border: $border-color 1px solid;
$border-strong: $border-color-strong 1px solid;
